<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Protest.ProTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Protest.SettingsCodeStudio" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Protest.SettingsFormAddProblems" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Protest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <Protest.ProTest>
            <setting name="Language" serializeAs="String">
                <value>russian</value>
            </setting>
        </Protest.ProTest>
    </applicationSettings>
    <userSettings>
        <Protest.SettingsCodeStudio>
            <setting name="ToolBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineNumbers" serializeAs="String">
                <value>False</value>
            </setting>
        </Protest.SettingsCodeStudio>
        <Protest.SettingsFormAddProblems>
            <setting name="Statement" serializeAs="String">
                <value>statement.rtf</value>
            </setting>
            <setting name="InputFile" serializeAs="String">
                <value>input.txt</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>output.txt</value>
            </setting>
            <setting name="TimeLimit" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MemoryLimit" serializeAs="String">
                <value>64000000</value>
            </setting>
            <setting name="Checker" serializeAs="String">
                <value>check.cpp</value>
            </setting>
            <setting name="Tests" serializeAs="String">
                <value>tests\</value>
            </setting>
            <setting name="MaxScore" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TestPattern" serializeAs="String">
                <value>[2]</value>
            </setting>
            <setting name="AnsPattern" serializeAs="String">
                <value>[2].a</value>
            </setting>
        </Protest.SettingsFormAddProblems>
        <Protest.Settings>
            <setting name="Language" serializeAs="String">
                <value>russian</value>
            </setting>
        </Protest.Settings>
    </userSettings>
</configuration>
